<p>
  <% if @manga.image.attached? %>
    <%= image_tag @manga.image %>
  <% end %>
</p>

<p class="fs-3">
<strong>Title:</strong>
<%= link_to @manga.title, "#", class:"btn btn-outline-dark" %>
</p>

<p class="fs-3">
<strong>Category:</strong>
<%= link_to @manga.get_category, @manga.category, class:"btn btn-outline-dark" %>
</p>

<p class="fs-3">
<strong>Author:</strong>
<%= link_to @manga.get_author, @manga.author, class:"btn btn-outline-dark" %>
</p>

<p class="fs-3">
<strong>Description:</strong>
<% if @manga.description != "" %>
  <%= link_to @manga.description, "#", class:"btn btn-outline-dark" %>
<% end %>  
</p>

<div class="btn-group" role="group">
    <%= link_to 'Back', mangas_path, class:"btn btn-outline-dark" %>
  <%= link_to 'Edit', edit_manga_path(@manga), class:"btn btn-outline-primary" %>     
  <td><%= link_to 'Delete', @manga, method: :delete, data: { confirm: 'Are you sure?'},  class: "btn btn-outline-danger" %></td>
</div>