<p>
  <% if @manga.image.attached? %>
    <%= image_tag @manga.image %>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @manga.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @manga.get_category %>
</p>

<p>
  <strong>Author:</strong>
  <%= @manga.get_author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @manga.description %>
</p>

<div class="btn-group" role="group">
    <%= link_to 'Back', mangas_path, class:"btn btn-outline-dark" %>
  <%= link_to 'Edit', edit_manga_path(@manga), class:"btn btn-outline-primary" %>     
  <td><%= link_to 'Delete', @manga, method: :delete, data: { confirm: 'Are you sure?'},  class: "btn btn-outline-danger" %></td>
</div>