<p>
  <strong>Category:</strong>
  <%= @category.category %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @category.detail %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<p>
  Manga: <%= @category.mangas.count %> 
</p>

<table class="table">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @category.mangas.each_with_index do |manga, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= manga.title %></td>
        <td><%= manga.get_author %></td>
        <td><%= manga.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>